<form>
    {{#if data.extraText}}
    <span style="color: teal">{{data.extraText}}</span><br/>
    {{/if}}
    <div class="form-group">
        <label>{{localize "shadowrun6.roll.subject"}}</label>
        <input type="text" name="subject" value="{{data.subject}}" />
    </div>
    <div class="form-group">
        <label>{{localize "shadowrun6.roll.pool"}}</label>
        <input type="text" name="pool" value="{{data.pool}}" />
    </div>
    <div class="form-group">
        <label>{{localize "shadowrun6.roll.threshold"}}</label>
        <input type="text" name="threshold" value="{{data.threshold}}" />
    </div>
    <div class="form-group">
        <label>{{localize "shadowrun6.roll.explode"}}</label>
        <input type="checkbox" name="explode" value="{{data.explode}}" />
    </div>
    <div class="form-group">
        <label>{{localize "shadowrun6.roll.wilddie"}}</label>
        <input type="checkbox" name="wilddie" value="{{data.wilddie}}" />
    </div>
    <div class="form-group">
        <label>Modus</label>
        <select name="rollMode">
        {{#select rollMode}}
        {{#each rollModes as |label mode|}}
            <option value="{{mode}}">{{localize label}}</option>
        {{/each}}
        {{/select}}
        </select>
    </div>
</form>