<form class="calc-edge">
    {{#if data.extraText}}
    <h3>{{data.extraText}}</h3>
    {{/if}}
    <hr/>
    <div class="form-group">
        {{localize "shadowrun6.roll.attackRating"}}
        <select name="attackRating" class="calc-edge-edit ar-value" id="ar">
            {{#select attackRating}}
            {{#each data.item.data.data.attackRating as |rating id|}}
            <option value="{{data.attackRating}}" data-item-ar="{{rating}}">{{localize (concat "shadowrun6.roll.ar_" id)}} - ({{rating}})</option>
            {{/each}}
            {{/select}}
        </select>
        <label>&nbsp;&nbsp; vs. {{localize "shadowrun6.roll.defRating"}}</label>
        <input id="dr" type="number" name="defRating" value="{{data.defRating}}" class="calc-edge-edit dr-value"/>
    </div>
        <label id="edgeLabel"></label><br/>
        <label id="noTargetLabel"></label>
    <hr/>
    <div class="form-group">
        <label>{{localize "shadowrun6.roll.threshold"}}</label>
        <input type="text" name="threshold" value="{{data.threshold}}" />
    </div>
    <div class="form-group">
        <label>{{localize "shadowrun6.roll.explode"}}</label>
        <input type="checkbox" name="explode" value="{{data.explode}}" />
    </div>
    <div class="form-group">
        <label>{{localize "shadowrun6.roll.wilddie"}}</label>
        <input type="checkbox" name="wilddie" value="{{data.wilddie}}" />
    </div>
    <div class="form-group">
        <label>{{localize "shadowrun6.roll.modifier"}}</label>
        <input type="text" name="modifier" value="{{data.modifier}}" />
    </div>
    <div class="form-group">
        <label>Modus</label>
        <select name="rollMode">
            {{#select rollMode}}
            {{#each rollModes as |label mode|}}
            <option value="{{mode}}">{{localize label}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</form>