 <div class="dice-tooltip">
    <section class="tooltip-part">
        <div class="dice">
            <ol class="dice-rolls">
                {{#each results as |result id|}}
                <li class="{{result.classes}}">&nbsp;</li>
              <!--   <li class="roll ">{{result.success}}</li>
                <li class="roll ">{{result.active}}</li>
                <li class="roll ">{{result.exploded}}</li>
                <li class="roll ">{{result.count}}</li> -->
                {{/each}}
            </ol>
        </div>
    </section>
</div>

