<form class="flexcol {{cssClass}}" autocomplete="off">
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <dl>
            <dt>{{localize 'shadowrun6.qualityedit.name'}}</dt>
            <dd><input type="text" value="{{item.name}}" data-field="name" /></dd>
            <dt>{{localize 'shadowrun6.qualityedit.explain'}}</dt>
            <dd><input type="text" value="{{item.data.data.explain}}" data-field="data.explain" /></dd>
            <dt>{{localize 'shadowrun6.qualityedit.description'}}:</dt>
            <dd>
                <textarea type="text" value="{{item.data.data.description}}" data-field="data.description" class="secondary" placeholder="Details" cols="20" rows="6">{{item.data.data.description}}</textarea> 
           </dd>
            <dt>{{localize 'shadowrun6.qualityedit.category'}}</dt>
            <dd>  
                <select name="item.data.data.category" data-field="data.category">
                {{#select item.data.data.category}}
                {{#each config.QUALITY_CATEGORIES as |category id|}}
                <option value="{{@category}}">{{localize (concat "QUALITY_CATEGORIES." category)}}</option>
                {{/each}}
                {{/select}}
              </select></dd>
        </dl>
    </section>
</form>