<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="120" width="120" />
			<div style="display:flex; flex-direction:row; align-items:center;">
			{{> "systems/shadowrun6-eden/templates/parts/monitors.html" attributes=data.data.attributes}}
			{{> "systems/shadowrun6-eden/templates/parts/edge-token.html"}}
			</div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="overview">{{ localize 'shadowrun6.actor.nav.overview' }}</a>
        <a class="item" data-tab="edit">{{ localize 'shadowrun6.actor.nav.input' }}</a>
        <a class="item" data-tab="description">{{ localize 'shadowrun6.actor.nav.description' }}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{!-- Basics Tab --}}
        <div class="tab overview" data-group="primary" data-tab="overview">
            <line>
                <div class="section" style="width: 68%">
                    {{> "systems/shadowrun6-eden/templates/parts/npc-attributes.html" attributes=data.data.attributes}}
                    <dl>                    
                        <dt>{{ localize 'shadowrun6.actor.initiative' }}</dt>
                        <dd>{{data.data.initiative.physical.base}} + {{data.data.initiative.physical.dicePool}}d6</dd>
                        <dt>{{ localize 'shadowrun6.actor.initiative_astral' }}</dt>
                        <dd>{{data.data.initiative.astral.base}} + {{data.data.initiative.astral.dicePool}}d6</dd>
                        <dt>{{ localize 'shadowrun6.actor.actions' }}</dt>
                        <dd>1 {{ localize 'shadowrun6.actor.actions_major' }}, {{data.data.initiative.actions}} {{localize 'shadowrun6.actor.actions_minor'}}</dd>
                        {{> "systems/shadowrun6-eden/templates/parts/npc-skills.html" skills=data.data.skills}}
                    </dl>
                </div>
                
                <div class="section" style="width: 48%">
{{> "systems/shadowrun6-eden/templates/parts/section-qualities.html"}}
              </div>
                </line>
        </div>

		{{!-- Input Tab --}}
		<div class="tab edit" data-group="primary" data-tab="edit">
			{{> "systems/shadowrun6-eden/templates/parts/pc-skillvalues.html" skills=data.data.skills}}
		</div>
    </section>
</form>