<table style="width: 450px" border="0">
	<tbody>
		<tr>
		  <td></td>
		  <td></td>
		  <td>{{ localize 'shadowrun6.label.damage' }}</td>
		  <td></td>
		</tr>
		<tr>
			<td><img src="systems/shadowrun6-eden/images/heart.svg" style="border: 0px; height: auto; width: 64px" /></td>
			<td><label for="data.physical"
				title="{{localize 'shadowrun6.monitor.physical'}}">{{localize 'shadowrun6.monitor.physical'}}</label></td>
			<td>
				<input name="data.physical.dmg" class="centered health-phys"
				type="text" value="{{data.data.physical.dmg}}" data-dtype="Number"
				id="dataPhyCur"></td>
			<td id="barPhyMax">
				<div style="width: 300px;">
					<div style="position: relative; z-index: 1; border: solid black 1px;">
						<div id="barPhyCur" style="background-color: #892378; width: 77%;">&nbsp</div>
						<div id="barPhyBoxes" style="display: flex; z-index: 2; position: absolute; top: 0em; width: 100%">
							<!--div style="flex: 1; border-right: solid black 1px;">&nbsp;</div>
							<div style="flex: 1; border-right: solid black 1px;">&nbsp;</div>
							<div style="flex: 1; border-right: solid black 1px;">&nbsp;</div>
							<div style="flex: 1; border-right: solid black 1px;">&nbsp;</div>
							<div style="flex: 1; border-right: solid black 1px;">&nbsp;</div>
							<div style="flex: 1; border-right: solid black 1px;">&nbsp;</div>
							<div style="flex: 1; border-right: solid black 1px;">&nbsp;</div>
							<div style="flex: 1; border-right: solid black 1px;">&nbsp;</div>
							<div style="flex: 1; border-right: solid black 1px;">&nbsp;</div>
							<div style="flex: 1; border-right: solid black 1px;">&nbsp;</div>
							<div style="flex: 1; border-right: solid black 1px;">&nbsp;</div>
							<div style="flex: 1; border-right: solid black 1px;">&nbsp;</div>
							<div style="flex: 1;">&nbsp;</div-->
						</div>
					</div>
					<div id="barPhyScale" style="display: flex; font-size: x-small">
						<!--div
							style="flex: 1; border-right: solid black 1px; text-align: center"></div>
						<div
							style="flex: 1; border-right: solid black 1px; text-align: center">-4</div>
						<div style="flex: 1">&nbsp;</div>
						<div style="flex: 1"></div>
						<div
							style="flex: 1; border-right: solid black 1px; text-align: center">-3</div>
						<div style="flex: 1"></div>
						<div style="flex: 1"></div>
						<div
							style="flex: 1; border-right: solid black 1px; text-align: center">-2</div>
						<div style="flex: 1"></div>
						<div style="flex: 1"></div>
						<div
							style="flex: 1; border-right: solid black 1px; text-align: center">-1</div>
						<div style="flex: 1;"></div>
						<div style="flex: 1"></div-->
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td><img src="systems/shadowrun6-eden/images/brain.svg" style="border: 0px; height: auto; width: 48px" /></td>
			<td><label for="data.stun" title="{{localize 'shadowrun6.monitor.stun'}}">{{localize 'shadowrun6.monitor.stun'}}</label></td>
			<td><input class="centered health-stun" name="data.stun.dmg" type="text" value="{{data.data.stun.dmg}}" data-dtype="Number" id="dataStunCur"></td>
			<td id="barStunMax">
				<!--div id="barStunCur">{{data.stun.value}}/{{data.stun.max}}</div-->
				<div style="width: 300px;">
					<div style="position: relative; z-index: 1; border: solid black 1px;">
						<div id="barStunCur"
							style="background-color: #00a8ff; width: 78%;">&nbsp</div>
						<div id="barStunBoxes" style="display: flex; z-index: 2; position: absolute; top: 0em; width: 100%">
							<!--div style="flex: 1; border-right: solid black 1px;">&nbsp;</div>
							<div style="flex: 1; border-right: solid black 1px;">&nbsp;</div>
							<div style="flex: 1; border-right: solid black 1px;">&nbsp;</div>
							<div style="flex: 1; border-right: solid black 1px;">&nbsp;</div>
							<div style="flex: 1; border-right: solid black 1px;">&nbsp;</div>
							<div style="flex: 1; border-right: solid black 1px;">&nbsp;</div>
							<div style="flex: 1; border-right: solid black 1px;">&nbsp;</div>
							<div style="flex: 1; border-right: solid black 1px;">&nbsp;</div>
							<div style="flex: 1;">&nbsp;</div-->
						</div>
					</div>
					<div id="barStunScale" style="display: flex; font-size: x-small">
						<!--div
							style="flex: 1; border-right: solid black 1px; text-align: center">-3</div>
						<div style="flex: 1"></div>
						<div style="flex: 1"></div>
						<div
							style="flex: 1; border-right: solid black 1px; text-align: center">-2</div>
						<div style="flex: 1"></div>
						<div style="flex: 1"></div>
						<div
							style="flex: 1; border-right: solid black 1px; text-align: center">-1</div>
						<div style="flex: 1;"></div>
						<div style="flex: 1"></div-->
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>
