<section>
	<!-- Range Weapons -->
   <div class="section" style="width: 58%;">
     <h2 class="section-title">{{ localize 'shadowrun6.section.weapon.ranged' }}</h2>
	  <table>
 		{{#each actor.items as |item id|}} 
		{{#iff item.type '==' 'gear'}}
		{{#iff item.data.data.type '==' "WEAPON_FIREARMS"}}
       <tr class="draggable" data-item-id="{{this.id}}"  title="{{item.data.data.description}}">
       	<td style="margin-right: 1rem"><button type="button" class="collapsible {{item.data.flags.shadowrun6-eden.collapse-state}}" data-item-id="{{this.id}}">+</button><label class="item-name" data-skill="{{id}}">{{item.name}}</label></td>
         <td><label class="middle-column important-column">{{item.data.data.dmgDef}}</label></td>
         <td><label class="middle-column" >{{attackrating item.data.data.attackRating}}</label></td>
         <td class="skill-pool" style="width: 3em">
         	<label class="item-pool" data-skill="{{item.data.data.skill}}">{{item.data.data.pool}}</label>
         	<a class="item-control item-roll" data-skill="{{item.data.data.skill}}" data-item-id="{{this.id}}" title="{{localize (concat "skill." item.data.data.skill)}}"><i class="fas fa-dice-six"></i></a>
         </td>
			<td class="item-controls">
         	<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
         </td>
       </tr>
       <tr>
         <td colspan="6">
         	<div class="collapsible-content {{item.data.flags.shadowrun6-eden.collapse-state}}">
        	   {{ localize 'shadowrun6.label.modifications' }} <textarea class="box" type="text"     data-item-id="{{this.id}}" data-field="data.accessories" type="text" data-dtype="Text" style="width: 25em">{{item.data.data.accessories}}</textarea>
         	{{ localize 'shadowrun6.label.firemodes' }} <input type="checkbox" {{checked item.data.data.modes.BF}} name="data.modes.BF" data-check="data.modes.BF"  data-item-id="{{this.id}}"id="mode_bf"/>
				<label for="mode_bf">{{localize 'shadowrun6.item.mode_bf'}}</label>
		
			<input type="checkbox" {{checked item.data.data.modes.FA}} name="data.modes.FA"  data-check="data.modes.FA" data-item-id="{{this.id}}" id="mode_fa"/>
				<label for="mode_fa">{{localize 'shadowrun6.item.mode_fa'}}</label>
			
			<input type="checkbox" {{checked item.data.data.modes.SA}} name="data.modes.SA" data-check="data.modes.SA" data-item-id="{{this.id}}" id="mode_sa"/>
				<label for="mode_sa">{{localize 'shadowrun6.item.mode_sa'}}</label>
			
			<input type="checkbox" {{checked item.data.data.modes.SS}} name="data.modes.SS" data-check="data.modes.SS" data-item-id="{{this.id}}" id="mode_ss"/>
				<label for="mode_ss">{{localize 'shadowrun6.item.mode_ss'}}</label>
			<br/>
         	{{ localize 'shadowrun6.label.wilddie' }} <input class="centered box" type="checkbox" data-item-id="{{this.id}}" {{checked item.data.data.wild}} data-check="data.wild"     type="checkbox" data-dtype="Boolean"/><br/>
         	{{ localize 'shadowrun6.label.poolmod' }} <input class="centered box" type="text"     data-item-id="{{this.id}}" data-field="data.modifier" type="text"     value="{{item.data.data.modifier}}" data-dtype="Number" style="width: 1.5em"/>
         	</div>
         </td>
       </tr>
		{{/iff}}
		{{/iff}}
       {{/each}}
		<!-- Close Combat Weapons -->
       <tr><td colspan="6"><h2 class="section-title">{{ localize 'shadowrun6.section.weapon.close' }}</h2></td></tr>
 		{{#each actor.items as |item id|}} 
		{{#iff item.type '==' 'gear'}}
		{{#iff item.data.data.type '==' "WEAPON_CLOSE_COMBAT"}}
       <tr class="draggable" data-item-id="{{this.id}}"  title="{{item.data.data.description}}">
       	<td style="margin-right: 1rem"><button type="button" class="collapsible {{item.data.flags.shadowrun6-eden.collapse-state}}" data-item-id="{{this.id}}">+</button><label class="item-name" data-skill="{{id}}">{{item.name}}</label></td>
         <td><label class="middle-column important-column">{{item.data.data.dmgDef}}</label></td>
         <td><label class="middle-column" >{{attackrating item.data.data.attackRating}}</label></td>
         <td class="skill-pool" style="width: 3em">
         	<label class="item-pool" data-skill="{{item.data.data.skill}}">{{item.data.data.pool}}</label>
         	<a class="item-control item-roll" data-skill="{{item.data.data.skill}}" data-item-id="{{this.id}}" title="{{localize (concat "skill." item.data.data.skill)}}"><i class="fas fa-dice-six"></i></a>
         </td>
			<td class="item-controls">
         	<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
         </td>
       </tr>
       <tr>
         <td colspan="6">
         	<div class="collapsible-content {{item.data.flags.shadowrun6-eden.collapse-state}}">
        	   {{ localize 'shadowrun6.label.modifications' }} <textarea class="box" type="text"     data-item-id="{{this.id}}" data-field="data.accessories" type="text" data-dtype="Text" style="width: 20em" rows="2">{{item.data.data.accessories}}</textarea>
         	{{ localize 'shadowrun6.label.wilddie' }} <input class="centered box" type="checkbox" {{checked item.data.data.wild}} data-item-id="{{this.id}}" data-check="data.wild"     type="checkbox"  data-dtype="Boolean"/><br/>
         	{{ localize 'shadowrun6.label.poolmod' }} <input class="centered box" type="text"     data-item-id="{{this.id}}" data-field="data.modifier" type="text"     value="{{item.data.data.modifier}}" data-dtype="Number" style="width: 1.5em"/>
         	</div>
         </td>
       </tr>
		{{/iff}}
		{{/iff}}
       {{/each}}
     </table> 
   </div>

	<!-- Ammunition -->
   <div class="section" style="display: inline-block; width: 38%; margin: 0 0 0 10px;">
     <h2 class="section-title">{{ localize 'shadowrun6.section.ammo' }}</h2>
	  <table>
 		{{#each actor.items as |item id|}} 
		{{#iff item.type '==' 'gear'}}
		{{#iff item.data.data.type '==' "AMMUNITION"}}
       <tr data-item-id="{{this.id}}"  title="{{item.data.data.description}}">
       	<td style="margin-right: 1rem"><label class="item-name" data-skill="{{id}}">{{item.name}}</label></td>
         <td><input class="centered box" type="text"     data-item-id="{{this.id}}" data-field="data.count" type="text"     value="{{item.data.data.count}}" data-dtype="Number" style="width: 1.5em" /></td>
			<td class="item-controls">
         	<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
         </td>
       </tr>
		{{/iff}}
		{{/iff}}
       {{/each}}
		</table>
	</div>

	<!-- Armor -->
   <div class="section" style="width: 58%; margin: 10px 0 0 0;">
     <h2 class="section-title">{{ localize 'shadowrun6.section.armor.title' }}</h2>
	  <table>
	    <thead>
	      <tr>
	        <th>{{ localize 'shadowrun6.section.armor.column.name' }}</th>
	        <th></th>
	        <th>{{ localize 'shadowrun6.section.armor.column.defense' }}</th>
	        <th>{{ localize 'shadowrun6.section.armor.column.social' }}</th>
	        <th>{{ localize 'shadowrun6.section.armor.column.action' }}</th>
	      </tr>
	    </thead>
 		{{#each actor.items as |item id|}} 
		{{#iff item.type '==' 'gear'}}
		{{#iff item.data.data.type '==' "ARMOR"}}
       <tr class="draggable" data-item-id="{{this.id}}"  title="{{item.data.data.description}}">
       	<td style="margin-right: 1rem"><button type="button" class="collapsible {{item.data.flags.shadowrun6-eden.collapse-state}}" data-item-id="{{this.id}}">+</button><label class="item-name" data-skill="{{id}}">{{item.name}}</label></td>
       	<td><label class="switch">
       	<input type="checkbox" data-item-id="{{this.id}}" data-check="data.usedForPool" {{checked item.data.data.usedForPool}} type="checkbox" data-dtype="Boolean"/>
                        <span class="shadowrun6-slider round"></span>
                    </label></td>
         <td class="centered"><input type="text" data-item-id="{{this.id}}" data-field="data.defense" value="{{item.data.data.defense}}" data-dtype="Number" style="width: 1.5em" /></td>
         <td class="centered"><input type="text" data-item-id="{{this.id}}" data-field="data.social"  value="{{item.data.data.social}}" data-dtype="Number" style="width: 1.5em" /></td>
			<td class="item-controls">
         	<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
         </td>
       </tr>
       <tr>
         <td colspan="6">
         	<div class="collapsible-content {{item.data.flags.shadowrun6-eden.collapse-state}}" style="vertical-align: top">
         	{{ localize 'shadowrun6.label.modifications' }} <textarea class="box" type="text"     data-item-id="{{this.id}}" data-field="data.accessories" type="text"  data-dtype="Text" rows="3" style="width: 20em">{{item.data.data.accessories}}</textarea></div>
         	</div>
         </td>
       </tr>
		{{/iff}}
		{{/iff}}
       {{/each}}

</section>