<section>
	<!-- Action skills -->
   <div class="section" style="margin: 0 10px 0 0;">
     <h2 class="section-title">{{ localize 'shadowrun6.section.skills.action' }}</h2>
	  <ol class="item-list">
        {{#each skills as |skill id|}}
       <li class="item flexrow draggable" data-item-id="{{id}}">
         <label class="skill-value skill-key rollable skill-name skill-roll" data-skill="{{id}}">{{localize (concat "skill." id ) }}</label>
         <div class="skill-attrib">
           <span>{{localize (concat3 "attrib." (skillAttr id) "_short")}}</span>
         </div>
         <div class="skill-points" style="width: 2em; flex-grow:0.4">
           <input class="skill-value" type="number" name="data.skills.{{id}}.points" value="{{skill.points}}"  style="width: 2em" />
         </div>
         <div class="skill-pool">
           <span>{{skill.pool}}</span>
         </div>
         <div class="item-controls" style="width: 3em; flex-grow:2">
           <!--a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a-->
           <a class="item-control skill-roll" data-skill="{{id}}" title="Roll"><i class="fas fa-dice-six"></i></a>
         </div>
       </li>
       {{/each}}
     </ol> 
   </div>
     
   <div style="display: inline-block;">
	<!-- Knowledge skills -->
   <div class="section" style="display:block; min-width: 13rem; margin: 0 0 10px 0;">
   <div class="section-head">
   <h2 class="section-title">{{ localize 'shadowrun6.section.skills.knowledge' }}</h2>
   <a class="item-control skill-knowledge-create" title="{{localize 'shadowrun6.section.skills.knowledge_add' }}"><h2 class="fas fa-plus"></h2></a>
   </div>
	<ol class="item-list">
       {{#each actor.items as |item id|}}
       {{#iff item.type '==' 'skill'}}
       {{#iff item.data.data.genesisID '==' 'knowledge'}}

       <li class="item flexrow" data-item-id="{{item.id}}">
         <input type="text" value="{{item.name}}" data-field="name" style="width: 11em; flex-grow:4" />
         {{!-- Iterate through all attributes on the item and output buttons for any that are formula. --}}
                    <div class="item-controls" style="flex-grow:1">
                        <!--a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a-->
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
	             {{/iff}}
	             {{/iff}}
                {{/each}}
            </ol> 
     </div>
   
	<!-- Language skills -->
   <div class="section" style="display:block">
     <div class="section-head">
     <h2 class="section-title">{{ localize 'shadowrun6.section.skills.language' }}</h2>
     <a class="item-control skill-language-create" title="{{localize 'shadowrun6.section.skills.language_add' }}"><h2 class="fas fa-plus"></h2></a>
   </div>
	<ol class="item-list">
       {{#each actor.items as |item id|}}
       {{#iff item.type '==' 'skill'}}
       {{#iff item.data.data.genesisID '==' 'language'}}
       <li class="item flexrow" data-item-id="{{item.id}}">
         <input type="text" value="{{item.name}}" data-field="name" style="width: 10em; flex-grow:4"/>
         {{!-- Iterate through all attributes on the item and output buttons for any that are formula. --}}
         <select data-field="data.points" style="width: 8em; flex-grow:3">
         	<option value="1" {{#iff item.data.data.points '==' 1}}selected{{/iff}}>{{ localize 'shadowrun6.section.skills.language-level.normal' }}</option>
         	<option value="2" {{#iff item.data.data.points '==' 2}}selected{{/iff}}>{{ localize 'shadowrun6.section.skills.language-level.special' }}</option>
         	<option value="3" {{#iff item.data.data.points '==' 3}}selected{{/iff}}>{{ localize 'shadowrun6.section.skills.language-level.expert' }}</option>
         	<option value="4" {{#iff item.data.data.points '==' 4}}selected{{/iff}}>{{ localize 'shadowrun6.section.skills.language-level.native' }}</option>
         </select>
         <div class="item-controls" style="flex-grow:1">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
         </div>
       </li>
       {{/iff}}
       {{/iff}}
       {{/each}}
            </ol> 
     </div>
   </div>  
</section>